@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Cinzel:wght@500&family=Courgette&family=Kaushan+Script&family=Roboto&display=swap');

:root {

    --header-font:'Cinzel', serif;
    --answers-font:'Baloo 2', cursive;
    --standout-font:'Courgette', cursive;
    --questions-font:'Roboto', sans-serif;
    --casual-font: 'Kaushan Script', cursive;
}

#bodi {

    background-image: url(../image-files/codekidinverted.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}   

.questions{
    font-family:var(--headlet-font) ;
    font-weight: 500;
}

.answerSection,#rating, #score{
    font-family: var(--answers-font);
}
.answerSection{
    background-image: url(../image-files/graduation-two.jpg);
}
.heading {
    font-family: var(--header-font);
}

.mylink:hover{
    font-size: larger;
}

.congrats, .card-link{
    font-family: var(--questions-font);
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
    background-color: #e4a11b66;
    color: black;
}